{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/mypage.css' %}" />
{% endblock css %}

{% block content %}
<head>
  <style>
    body {
      background: #f1f1f1;
    }
  </style>
</head>

<div class="mypage_navbar">
  <nav class="mypage_navbar2">
    <span style="margin: 10px;"><a class="nav-corr" href="{% url 'mypage' %}">회원정보</a> </span>
    <span style="margin: 10px;"><a class="nav-wishlist" href="{% url 'wishlist_t' %}">관심목록</a> </span>
    <span style="margin: 10px;"><a class="nav-my_posts" href="{% url 'my_posts_t' %}">내가 쓴 글</a> </span>
  </nav>
</div>

<br><br>
<small style="font-weight: bold; color: #FD6F22;">비밀번호 변경하기</small>
<br>
<br>
<br>
<div class="mypage-password-form">
  <br><br><br>
  <div class="password-change-container">
    <form method="post">
      {% csrf_token %}
      <div class="password-form-group">
        {{ form.old_password.label_tag }}
        {{ form.old_password }}
      </div>
      <div class="password-form-group">
        {{ form.new_password1.label_tag }}
        {{ form.new_password1 }}
      </div>
      <div class="password-form-group">
        {{ form.new_password2.label_tag }}
        {{ form.new_password2 }}
      </div>
      <button type="submit"style="border:none">수정하기</button>
    </form>
  </div>
</div>
  <br>
  <br>
  <br>

  <!-- <h2>비밀번호변경</h2>

    <form method="POST">

      {% csrf_token %}
      {{ form }}
    <button type="submit">수정하기</button>

    </form> -->
  {% endblock %}