.oneday {
  display: flex;
  width: 67%
}

button{
  background-color: #fd6f22b0;
}

.oneday_form {
  max-width: 680px;
  margin-top: 80px;
  padding: 32px;
  background: #fff;
}

.oneday-side {
  width: 30%;
}

.oneday-content {
  background-color: beige;
  width: 70%;
}

tr {
  font-size: large;
  color: #fd6f22b0;
  text-align: center;
}

/* 반응형 */ 
@media (max-width: 700px){
  .oneday {
      display: flex;
      width: 100%;
  }
}

.form-row {
  display: flex;
  justify-content: space-between;
}

.form-group {
  flex: 1;
  margin-right: 10px; /* 각 필드 사이의 간격 조절 */
}