{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/t_main.css' %}" />
{% endblock css %}

{% block content %}

<head>
  <style>
    body {
      background: #f1f1f1;
    }
  </style>
</head>



<div class="teacher">

  <div class="teacher-container mx-auto">
    <div class="tp-tt ">
      <span class="tp-title">모연 선생님</span>
      
      <div class="search-container">
        <form method="GET" action=".">
          <input type="text" id="search-input" class="search-input" name="q" placeholder="상세검색" style="border: 2px solid rgb(155, 155, 155);">
          <input type="submit" id="search-button" class="search-button" value="검색" style="border: 2px solid rgb(155, 155, 155);">
        </form>
      </div>
    </div>




    <div class="teacher-top">
      <div class="teacher-path">
        <div class="teacher-path-icon">
          <img src="{% static 'image/homeIcon.png' %}">
        </div>
        <div class="teacher-path-letter">
          <span>메인 > 모연 선생님</span>
        </div>
      </div>



      <div class="teacher-create">
        <a class="teacher-create-link" href="{% url 't_c' %}">글쓰기</a>
      </div>
    </div>

    <div class="teacher-content-all">
      {% for teachers in teachers.all %}
      <div class="teacher-content-one">

        <div class="t-img-letters">
          <div class="teacher-content-img">
            {% if teachers.photo %}
            <img src="{{ teachers.photo.url }}" alt="iamge" width="150" height="150">
            {% endif %}
          </div>
          <div class="teacher-content-letter">
            <div class="teacher-content-field">
              <span>{{ teachers.field }}</span>
            </div>
            <div class="teacher-content-region">
              <span><img src="{% static 'image/mapIcon.png' %}">{{ teachers.region }}</span>
            </div>
            <div class="teacher-content-number">
              <span><img src="{% static 'image/followicon.png' %}">모집 인원 {{ teachers.number }}</span>
            </div>
          </div>
        </div>

        <div class="teacher-content-title">
          <span class="tt-title"><a href="{% url 't_r' teachers.id %}">{{ teachers.title }}</a></span>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>


{% endblock %}