{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/t_main.css' %}" />
{% endblock css %}

{% block content %}
<head>
    <style>
      body {
        background: #f1f1f1;
      }
    </style>
</head>

<!-- <div class = "teacher mx-auto">
  <div class = "teacher-side bg-light">
    <nav class = "navbar">
      이게머지..
    </nav>
  </div>
  
  <div class = "teacher-content">
    여기는 디테일 페이지
  </div>
</div> -->



{% if teacher.photo %}
<img src="{{ teacher.photo.url }}" alt="image" width="200" height="200">
{% endif %}

{{ teacher.field }} <br>
{{ teacher.title }} <br>
{{ teacher.region }} <br>
/{{ teacher.number }}명 <br>
{{ teacher.period1 }} - {{ teacher.period2 }} <br>
{{ teacher.content|safe }} <br>


<!-- 작성자만 수정/삭제 가능 -->
{% if request.user == teacher.user %}
<br> <a href="{% url 't_u' teacher.pk %}">글 수정</a>
{% endif %}
{% if request.user == teacher.user %}
<form action="{% url 't_r' teacher.pk %}" method="POST" >
    {% csrf_token %}
    <input type="submit" value="글 삭제" >
</form>
{% endif %}




<hr>
<p>댓글</p>
댓글 {{ comment|length }}개

<form action="{% url 't_comment_create' teacher.pk %}" method="POST">
  {% csrf_token %}
  {{ commentform }}
  <input type="submit" value="댓글등록">
</form>

<ul>
  {% for comments in comment %}
    <li>{{comments.user}} - {{comments.content}}
      {% if request.user == comments.user %}
      <form action="{% url 't_comment_delete' comments.pk %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="삭제">
      </form>
      {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock %}