{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/t_main.css' %}" />
{% endblock css %}

{% block content %}
<head>
    <style>
      body {
        background: #f1f1f1;
      }
    </style>
</head>

<!-- <div class = "teacher mx-auto">
  <div class = "teacher-side bg-light">
    <nav class = "navbar">
      이게머지..
    </nav>
  </div>
  
  <div class = "teacher-content">
    여기는 수정 페이지
  </div>
</div> -->



<form action="{% url 't_u' teacher.pk %}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <table>
      {{ form.as_table }}
  
  <button type="submit">글 작성</button>
</form>
{% endblock %}