{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/oneday_create.css' %}" />
{% endblock css %}

{% block content %}
<head>
    <style>
      body {
        background: #f1f1f1;
      }
    </style>
</head>

<div class = "introduce mx-auto">
  <div class = "introduce-side bg-light">
    <nav class = "navbar">
      사이드 네브바가 들어갈 공간입니다
    </nav>
  </div>
  
  <div class = "introduce-content">
    아아ㅏㅏㅏ아아 콘텐츠입니다
  </div>
</div>
{% endblock %}