{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/oneday_main.css' %}" />
<style>
  body {
    background: #f1f1f1;
  }
</style>
{% endblock css %}

{% block content %}
<form action="{% url 'oneday_update' oneday.pk %}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <table>
      {{ form.as_table }}
  </table>
  <button type="submit">글 작성</button>
</form>

<!-- 주석처리된 부분
<div class="oneday mx-auto">
  <div class="oneday-side bg-light">
    <nav class="navbar">
      이게머지..
    </nav>
  </div>
  
  <div class="oneday-content">
    여기는 수정 페이지
  </div>
</div>
-->
{% endblock %}