.introduce {
    display: flex;
    width: 67%
}
.introduce-side {
    width: 30%;
}

.introduce-content {
    background-color: beige;
    width: 70%;
}

/* 반응형 */ 
@media (max-width: 700px){
    .introduce {
        display: flex;
        width: 100%;
    }
}