{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/mypage.css' %}" />
{% endblock css %}

{% block content %}
<head>
  <style>
    body {
      background: #f1f1f1;
    }
  </style>
</head>
<!--nav22-->
<div class="mypage_navbar">
  <nav class="mypage_navbar2">
    <span style="margin: 10px;"><a class="nav-corr" href="{% url 'mypage' %}">회원정보</a> </span>
    <span style="margin: 10px;"><a class="nav-wishlist" href="{% url 'wishlist_t' %}">관심목록</a> </span>
    <span style="margin: 10px;"><a class="nav-my_posts" href="{% url 'my_posts_t' %}">내가 쓴 글</a> </span>
  </nav>
</div>

<br>
<div>
  <nav>
    <small><a class="nav-nav-nav" href="{% url 'my_posts_t' %}"style="font-weight: bold; text-decoration: none;"> 선생님 </a></small>
    <small><a class="nav-nav-nav" href="{% url 'my_posts_s' %}"style="font-weight: bold; text-decoration: none;"> 배우미 </a></small>
    <small><a class="nav-nav-nav" href="{% url 'my_posts_o' %}"style="font-weight: bold; text-decoration: none;"> 체험학습 </a></small>
  </nav>
</div>
<hr style="width: 45%; margin: 1% auto;">
<!--nav22-->
<h2 class="wishlist-title">{{ user.nickname }}님의 [선생님]작성글</h2>
<div>
  
  <ul class="mypost-ul">
      {% for post in posts_teacher %}
          <li class="mypost-li">
              <div class="post-photo">
                  {% if post.photo %}
                  <img src="{{ post.photo.url }}" alt="image" width="200" height="200">
                  {% else %}
                  <div class="item-image"></div>
                  {% endif %}
              </div>
              <div class="post-content">
                <div><a href="{% url 't_r' post.id %}">{{ post.title }}</a></div>
                  <div>지역: {{ post.region }}</div>
                  <div>모집인원: {{ post.number }}</div>
                  <div><small>{{ post.period1 }} ~ {{ post.period2 }}</small></div>
              </div>
              <div class="post-modify-btn">
                  <a href="{% url 't_u' post.id %}">수정</a>
              </div>
          </li>
      <br>
      {% empty %}
        <p>작성글이 아직 없습니다.</p>
      {% endfor %}
  </ul>
</div>

{% endblock %}