{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/introduce_main.css' %}" />
{% endblock css %}

{% block content %}
<head>
    <style>
      body {
        background: #f1f1f1;
      }
    </style>
</head>

<div class = "introduce mx-auto">
  <div class = "introduce-side">
    <nav class = "introduce-nav">
      <a href="{% url 'main' %}" class = "nav-link"> 메인 </a> <hr>
      <a href="{% url 'main' %}" class = "nav-link"> 메인2 </a> <hr>
      <a href="{% url 'main' %}" class = "nav-link"> 메인3 </a> <hr>
      <a href="{% url 'introduce_developer' %}" class = "nav-link"> 개발자소개 </a>
    </nav>
  </div>
  
  <div class = "introduce-content flex-column">
    <p class = "introduce-title"> {% block introduce-title %} {% endblock %} </p>
    <hr>
    <div class = "introduce-body">
      {% block introduce-body %}
      {% endblock %}
    </div>
  </div>
</div>
{% endblock %}