{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/s_main.css' %}" />
{% endblock css %}

{% block content %}

<head>
  <style>
    body {
      background: #f1f1f1;
    }
  </style>
</head>



<div class="teacher">

  <div class="teacher-container mx-auto">

    <span class="tp-title">모연 배움이</span>
    <div class="teacher-top">
      <div class="teacher-path">
        <div class="teacher-path-icon">
          <img src="{% static 'image/homeIcon.png' %}">
        </div>
        <div class="teacher-path-letter">
          <span>메인 > 모연 배움이</span>
        </div>
      </div>
      <div class="teacher-create">
        <a class="teacher-create-link" href="{% url 's_c' %}">글쓰기</a>
      </div>
    </div>

    <div class="teacher-content-all">
      {% for students in students.all %}
      <div class="teacher-content-one">

        <div class="t-img-letters">
          <div class="teacher-content-img">
            {% if students.photo %}
            <img src="{{ students.photo.url }}" alt="iamge" width="150" height="150">
            {% endif %}
          </div>
          <div class="teacher-content-letter">
            <div class="teacher-content-field">
              <span>{{ students.field }}</span>
            </div>
            <div class="teacher-content-region">
              <span><img src="{% static 'image/mapIcon.png' %}">{{ students.region }}</span>
            </div>
            <div class="teacher-content-number">
              <span><img src="{% static 'image/followicon.png' %}">모집 인원 {{ students.number }}</span>
            </div>
          </div>
        </div>

        <div class="teacher-content-title">
          <span class="tt-title"><a href="{% url 's_r' students.id %}">{{ students.title }}</a></span>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>


{% endblock %}