img {
    width: 100%;
}

.main-container {
    background-color: #f4f4f4;
}

.main-content1 {
    margin-top: 4%;
    margin-bottom: 4%;
}

.main-content1-box {
    padding: 1.5% 7%;
}

.inner-text1 {
    font-size: 2vw;
}

.inner-text2 {
    font-size: 1.5vw;
}

.inner-text3 {
    font-size: 1vw;
    width: 70%;
}

.inner-text4 {
    font-size: 1vw;
}

.main-content2_wrap {
    background-color: #ffb75357;
}

.main-content2 {
    width: 75%;
}

.main-content2-box1, .main-content2-box2 {
    width: 50%;
}

.main-content2-box1 {
    padding-left:10%;
    padding-right:8%;
}

img.chat-img {
    width: 80%;
    margin: 1%;
}

.main-content3 {
    width: 95%;
    margin-top: 4%;
    margin-bottom: 4%;
}

.flip_box {
	width: 90%;
	margin: 0 auto;
}

.cols {
    width: 80%;
}

.col {
    width: 40%;
	cursor: pointer;
}

.flip {
    position: relative;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    margin: 5%;
}

.col:hover .flip {
    transform: rotateY(180deg);
}

.front,
.back {
	background-size: cover;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	background-position: center;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	text-align: center;
	color: #fff;
	font-size: 1.5rem;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.front {
    background-color: #bbb;
    color: black;
}

  /* Style the back side */
.back {
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
    color: white;
    background: -webkit-linear-gradient(65deg, #f5e3c5 0%, #974507 100%);
    transform: rotateY(180deg);
}

.front > img {
    width: 100%;
    border-radius: 10px;
    opacity: 0.5;
}

.back > .inner {
    margin: 20%;
    padding: 0 auto;
}

/* 반응형 패드 */
@media screen and (max-width:900px) {
    .main-content1 {
        margin-top: 6%;
        margin-bottom: 3%;
    }

    .main-content1-box {
        padding: 1% 6%;
    }
    
    .inner-text1 {
        font-size: 2.5vw;
    }

    .inner-text2 {
        font-size: 2vw;
    }

    .main-content2 {
        width: 80%;
    }

    .main-content2-box1 {
        padding-left:10%;
        padding-right:4%;
    }
}

/* 반응형 모바일 */
@media screen and (max-width:500px) {
    .main-content1 {
        margin-top: 3%;
        margin-bottom: 1%;
    }
    
    .main-content1-box {
        padding: 0;
    }

    .inner-text1 {
        font-size: 3.5vw;
    }

    .inner-text2 {
        font-size: 2.5vw;
    }

    .inner-text3 {
        font-size: 2vw;
        width: 80%;
    }

    .main-content2 {
        width: 98%;
        padding-top: 4%;
        padding-bottom: 4%;
    }

    .main-content2-box1 > p.inner-text1 {
        font-size: 3.3vw;
    }

    .main-content2-box1 {
        padding-left:8%;
    }
    
    img.chat-img {
        width: 70%;
        margin: 1%;
    }

    .inner-text4 {
        font-size: 1.9vw;
    }

    .back > .inner {
        margin: 5%;
        padding: 0;
    }

    .back > .inner > .inner-text1 {
        font-size: 3vw;
    }
}